<div class="page page-dashboard">
	<div class="left-menu-top clearfix">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
		</div>
		<div id="navbar" class="navbar-collapse collapse pull-left">
			<!-- <ul class="nav navbar-nav navbar-right"> -->
			<ul class="nav navbar-nav">
				<li><a href="#/patientIdentification-edit/{{visitData._id}}" translate="Identify"></a></li>
				<li><a href="#/visitReason-edit/{{visitData._id}}" translate="Visit Reason"></a></li>
				<li><a href="#/payment-edit/{{visitData._id}}" translate="Payment"></a></li>
			</ul>
		</div>
	</div>
	<div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Visit Reason"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix" ng-init="getVisitById()">
			<div class="row ">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">{{visitData.patientId.firstname}} {{visitData.patientId.lastname}}, {{visitData.patientId.age.year == 0 ? visitData.patientId.age.month == 0 ? visitData
											.patientId.age.day : visitData.patientId.age.month : visitData.patientId.age.year}} {{visitData.patientId.age.year == 0 ? visitData.patientId.age.month == 0 ? 
                                         'Day' : 'Month' : 'Year'}} , {{visitData.patientId.gender | capitalize}}
							<span class = "allergies" ng-if = "allergies.length > 0" >  allergic to: <u> {{ allergies }} </u></span>
						 <span> {{visitData.currentStatus}}</span>
							 <span ng-if = "getStageDateTime('visitReason')" class="cameIn" >{{'Came In'|translate}}: {{ getStageDateTime('visitReason')| date : "HH:mm '|' dd.MM.yy" }}</span>
						</div>
						
						<div class="panel-body">
							<form name="visitReasonForm" ng-submit="addVisitReason(visitData)" role="form" method="post">
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label translate="Visit Reason">
											<textarea class="form-control" rows="10" ng-model="visitData.visitReason"></textarea>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12">
										<div class="form-group">
											<label translate="Urgency">
													</label>
										</div>
									</div>
									<!--ng-init="visitReason.isUrgent == 0"-->
									<div class="col-sm-12" >
										<label translate="Not Urgent"></label>
										<label class="switch">		
										
														<input 	ng-init="visitData.isUrgent = visitData.isUrgent || 0" type="checkbox" name ="isUrgent" ng-model = 'visitData.isUrgent' ng-false-value = 0 ng-true-value = 1 >
														<div class="slider round"></div>
												</label>
										<<label translate="Urgent"></label>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-8">
									</div>
									<div class="col-sm-4">
										<button  class="btn_black" translate="Back"></button> <button type="submit" class="btn_green" translate="Submit"></button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--<input type="checkbox" name='status' ng-model='school.status' checked="{{enableChecked}}" /> Enable-->
<!--<script> $(function() { $('#cp3').colorpicker({ color: '#AA3399', format: 'rgb' }); }); </script>-->