<style type="text/css">
.input-group .search_box button	{
    min-width: 40px !important;
    padding: 12px;
	
}
.input-group .search_box { position: absolute; }
.input-group .search_box button{     margin: 0;
    margin-top: -1px; }



</style>
<div class="page page-dashboard">
	<div class="left-menu-top clearfix">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
		</div>
		
	</div>
	<div class="page-inner" ng-init="getVisitById(); getPatientVisitHistory()">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Patient Visits History"></div>
				<!--<span class="back-visitCard"><a title="visitCard Dashboard" href="#/visitCard/{{visitData._id}}"><i class="fa fa-life-ring"></i></a></span>-->
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix">
			<div class="row ">
				
					
					<div class="col-sm-6 col-xs-12">
<form name="searchForm" novalidate class="	famildr_sear" >
					<div class="input-group">
							
							<input type="text" class="form-control" placeholder="{{'Search Term'|translate}}" name="searchTerm" ng-model="searchPatientVisitTextField" ng-change="searchPatientVisits()" ng-focus = "check = 'YES'; showFilteredStatus = 'YES'"
								required />
							<!--<span class="search_box">
								<button type="button" class="glyphicon glyphicon-search btn_green" type="submit">
							    
							</button></span>-->
								</div>
								<span class="search_box">
						     	<input type="checkbox" ng-model="check" ng-change="checkFilteredStatus(check)" ng-true-value="YES" ng-false-value="NO"/><label translate="Show filtered status">
								</label>
							</span></form></div>
								<div class="col-sm-6 col-xs-12">
							<div class="btnTop">
				<!--<div class="col-sm-6 col-xs-6">-->
				<!--<form name="form" enctype="multipart/form-data" >-->
						        	
						        	<a title="{{'VisitCard'|translate}}"  class="btn btn-xs btn-primary ng-scope"href="#/visitCard/{{visitData._id}}" ><i class="fa fa-vcard"></i> {{ 'Exit To Dashboard' | translate }}    </a>

								</div>
								</div>
								
								<!--</div>-->
							
					
						<!-- <div class="input-group" >
							<input type="text" class="form-control" placeholder="{{'Search Term'|translate}}" name="searchTerm" ng-model="searchPatientVisitTextField" ng-change="searchPatientVisits()" required/>
							<button type="button" ng-click="searching1()" class="glyphicon glyphicon-search btn_green" type="submit">
							
							</button>
							<span class="search_box">
						     	<input type="checkbox" ng-model="check" ng-change="checkStatus(check)" ng-true-value="YES" ng-false-value="NO"/><label translate="Show filtered status">
								</label>
							</span>
						
						
						</div> -->
					</form>
				</div>
			
			<div class="row ">
				<div class="col-sm-12">
					<div class="panel panel-default">  
							<div class="panel-heading" translate="Patient Visits History"></div> 
							<div class="panel-body">
									<div class="table-responsive">
									<table class="table table-bordered table-responsive" ng-table="tableParams" ng-table-columns-binding="boundCols">
									<tr  ng-repeat="visitDetails in completedVisitList" class="hoverme" title='Click to see visit card' ng-click="showVisitCard(visitDetails._id)">
										<td data-title="'Reason for Visit'|translate" sortable="'visitReason'" filter="{title:'text'}">{{visitDetails.visitReason}}</td>
										<td data-title="'Visit Date'|translate" sortable="'visitStart'" filter="{title:'text'}">{{visitDetails.visitStart | date : "HH:mm    dd.MM.yy"}}</td>
										<td data-title="'Visit Duration'|translate" sortable="'visitDuration'" filter="{title:'text'}">{{visitDetails.visitDuration}}</td>
										<td data-title="'Visit Result'|translate" sortable="'treatmentResultType'" filter="{title:'text'}">{{visitDetails.treatmentResultType}}</td>
									</tr>
									<tr ng-if="tableLoader">
										<td colspan="7" align="center">
											<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
										</td>
									</tr>
									<tr ng-if="$data.length == 0 && !tableLoader">
										<td colspan="7" align="center" translate="No Record Found"></td>
									</tr>
								</table>		       
									</div>  
							</div> 
					</div> 
				</div>     
			</div>
			</div>
		</div>
	</div>
</div>
