<div class="page page-dashboard">
	<div class="left-menu-top clearfix">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
		</div>
		<div id="navbar" class="navbar-collapse collapse pull-left">
			<!-- <ul class="nav navbar-nav navbar-right"> -->
			<!--<ul class="nav navbar-nav">
          <li><a href="#">Family Doctors</a></li>
          <li><a href="#">Survey</a></li>
          <li><a href="#">Statuses</a></li>
          <li><a href="#">Indexes</a></li>
          <li><a href="#">Diseases</a></li>
          <li><a href="#"  class="active">Users</a></li>
        </ul>-->
		</div>
	</div>
	<div class="page-inner ">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title">Visit Card</div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix" ng-init="getVisitById()">
			<div class="row">
				<div class="col-sm-12">
					<div class="topbtn-box">
						<button class="btn_green">Patient history</button> <button class="btn_black"><i class="fa fa-upload" aria-hidden="true"></i> Documents</button>
					</div>
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-12">
					<div class="panel panel-default visitCard">
						<div class="panel-heading clearfix">
							<div class="col-sm-4">
								<div class="red" ng-if="visitData.isUrgent==1">
									URGENT
								</div>
							</div>
							<div class="col-sm-4 text-center">
								{{visitData.patientId.firstname}} {{visitData.patientId.lastname}}
							</div>
							<div class="col-sm-4">
								<span>Came in: 28.2.17 | 16:28   In Reception</span>
							</div>
						</div>
						<div class="panel-body">
							<form>
								<div class="row">
									<div class="col-sm-3">
										<div class="closureBg">Closure</div>
										<div class="closureInfo">Drugs
											<div class="closuseView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="closureInfo">Summary
											<div class="closuseView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>

									</div>

									<div class="col-sm-3">
										<div class="doctorBg">Doctor</div>
										<div class="doctorInfo">Doctor's summary
											<div class="doctorView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="doctorInfo">Diagnostic
											<div class="doctorView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="doctorInfo">Results
											<div class="doctorView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="doctorInfo">Prescriptions
											<div class="doctorView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>

									</div>
									<div class="col-sm-3">
										<div class="nurseBg">Nurse</div>
										<div class="nurseInfo">Triage
											<div class="nurseView">
												<div class="btnView">
										            <a class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<!--<a href="" class="iconLink" ng-click="showVisitReason('edit',visitData._id)"><i class="fa fa-edit" aria-hidden="true"></i></a>-->
													<a href="#/triage-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="nurseInfo">Visit details
											<div class="nurseView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="#/visitDetails-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
										<div class="nurseInfo">Nurse examination
											<div class="nurseView">
												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="#/nurseExam-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>
											</div>
										</div>
									</div>

									<div class="col-sm-3">
										<div class="receptionBg">Reception</div>
										<div class="receptionInfo">Identify
											<div class="receptionView">

												<div class="btnView">
													<a href="#/patientIdentification/{{visitData._id}}" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="#/patientIdentification-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>

											</div>
											<div class="clearfix"></div>
										</div>
										<div class="receptionInfo">Visit reason
											<div class="receptionView">
												<!--//#/visitReason_edit/{{visitData._id}}-->
												<div class="btnView">
													<!--href="#/cms-edit/{{cms._id}}"'/visitReason/edit/{{visitData._id}}'-->
													<a class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<!--<a href="" class="iconLink" ng-click="showVisitReason('edit',visitData._id)"><i class="fa fa-edit" aria-hidden="true"></i></a>-->
													<a href="#/visitReason-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>
												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>

											</div>
											<div class="clearfix"></div>
										</div>
										<div class="receptionInfo">Payment
											<div class="receptionView">

												<div class="btnView">
													<a href="" class="iconLink"><i class="fa fa-eye" aria-hidden="true"></i></a>
													<a href="#/payment-edit/{{visitData._id}}" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a>
												</div>

												17:05 | 8.5.16
												<div class="loadView"><a href="" class="iconLink"><i class="fa fa-edit" aria-hidden="true"></i></a></div>

											</div>
											<div class="clearfix"></div>
										</div>
									</div>
								</div>
						</div>
						</form>
					</div> <button class="btn_green">Visit comment</button>
				</div>
			</div>
		</div>
	</div>
</div>
</div>