<!--<section class="animate-fade-up" id="content">-->

<div class="page page-dashboard" data-ng-controller="diseaseController" ng-init="getdiseasebyId()">
	<div class="left-menu-top clearfix">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
		</div>
		<div id="navbar" class="navbar-collapse collapse pull-left">
			<!-- <ul class="nav navbar-nav navbar-right"> -->
			  <ul class="nav navbar-nav">
                <li ng-if="(permissionsArray.indexOf('familyDoctors') != -1)"><a ui-sref="familyDoctors" ui-sref-active="active" translate="FamilyDoctors"></a></li>
                <li  ng-if="(permissionsArray.indexOf('survey') != -1)"><a ui-sref="survey" ui-sref-active="active" translate="Survey"></a></li>
                <li ng-if="(permissionsArray.indexOf('statuses') != -1)"><a ui-sref="statuses" ui-sref-active="active" translate="Statuses"></a></li>
                <li ng-if="(permissionsArray.indexOf('index') != -1)"><a ui-sref="index" ui-sref-active="active" translate="Indexes"></a></li>
                <li ng-if="(permissionsArray.indexOf('Diseases') != -1)"><a ui-sref="Diseases" ui-sref-active="active" translate="Main Complaint"></a></li>
                <li ng-if="(permissionsArray.indexOf('users') != -1)"><a ui-sref="users" ui-sref-active="active" translate="Users"></a></li>
                <li ng-if="(permissionsArray.indexOf('roles') != -1)"><a ui-sref="roles" ui-sref-active="active" translate="Roles & Permission"></a></li>
                <li ng-if="(permissionsArray.indexOf('kupatCholim_list') != -1)"><a ui-sref="kupatCholim_list" ui-sref-active="active" translate="Kupat Cholim"></a></li>
				<li ng-if="(permissionsArray.indexOf('ipSettings') != -1)"><a ui-sref-active="active" ui-sref="ipSettings" translate="Settings"></a></li>
            </ul>
		</div>
	</div>
	<div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Test"></div>
			</div>
			<!--
				<ul class="breadcrumb page-breadcrumb">
						<li><a href="#">Home</a></li>
						<span> &nbsp; <i class="fa fa-angle-right"></i> &nbsp;</span>
						<li class="hidden"><a href="#">Dashboard</a></li>
						<li class="active"><a href="#">Dashboard</a></li>
				</ul>
		-->
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix">
			<div class="row ">

					<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading">{{'Required tests for'}}:&nbsp;&nbsp;{{diseaseName}}</div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-responsive">
									<thead>
										<tr>
										   <th translate="Nurse's Test"></th>
											<th translate="Doctor's Test"></th>
										</tr>
									</thead>
									
									<tbody dir-paginate="test in allTestList | itemsPerPage: 5" >
										<tr>
											<td>{{ test.nurseTest.nurseTest |capitalize}}</td>
                                            <td>{{ test.doctorTest.doctorTest |capitalize}}</td>
										</tr>
									</tbody>
								</table>
								<div>
									<dir-pagination-controls direction-links="true" class="pull-right"></dir-pagination-controls>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
             <div class="row">
				<div class="col-sm-12">
					<button ui-sref="Diseases" class="btn_black pull-right" translate="Back"></button>
				</div>

			</div>
			</br>
		</div>
	</div>
</div>
</div>
		<!--</section>-->
