
<!--<div class="page-forgot">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"><img src="../images/logo.png" /></a>
            </section>
        </div>
    </div>-->

    <!--<div class="info text-center">
        <h2>Password Reset</h2>
        <p class="text-small">Enter your email address.We'll send login details.</p>
    </div>

    <div class="form-container">

         <form accept-charset="UTF-8" role="form" role="form" novalidate name="form" class="form-horizontal" id="loginform">
            <div class="input-group input-group-lg">
                 <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                <input type="email" name="email"
                       class="form-control input-lg"
                       placeholder="Email" ng-model="forgotPass.email" ng-pattern="/^([a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]+$)/">
                 <div ng-show="form.$submitted || form.email.$touched">
                    <span class="text-danger" ng-show="form.email.$error.required" class="text-danger">Please enter Email</span>
                    <span class="text-danger" ng-show="form.email.$error.pattern && (form.email.$invalid || form.email.$pristine)">Please enter valid Email</span>
                </div>       
            </div>
            
                <button type="submit" class="btn btn-primary btn-block" name="resend" ng-click="resendPassword(form)" ng-disabled="disabled">{{(isPasswordSent)? 'Resend': 'Send'}} Password <i class="fa fa-spinner fa-spin" ng-if="loader"></i></button>
                                            

                   <p><a href="/#/signIn">Login</a></p>
                    </form>
            </div>
       
    </div>
</div>
-->


<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"><img src="../images/logo.png" /></a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="">
            <div class="form-container">                
                 <form accept-charset="UTF-8" role="form" role="form" novalidate name="form" class="form-horizontal" id="forgotform">
                	<h3 class="text-center">Reset your password</h3>
                    <!--<center><h4 class="text-small">Enter your email address.We'll send login details.</h4></center>-->
                    <fieldset>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                 <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                <input type="email" name="email" autofocus
                       class="form-control input-lg"
                       placeholder="Type your e-mail here.." ng-model="forgotPass.email" ng-pattern="/^([a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z0-9]+$)/"
                       >
                 <div ng-show="form.$submitted || form.email.$touched">
                    <span class="text-danger" ng-show="form.email.$error.required" class="text-danger">Please enter e-mail</span>
                    <span class="text-danger" ng-show="form.email.$error.pattern && (form.email.$invalid || form.email.$pristine)">Please enter valid e-mail</span>
                </div>       
            </div>
                        </div>
                        
                       
                        <div class="form-group">
                           <!--<button type="submit" class="btn btn-primary btn-block" name="resend" ng-click="resendPassword(form)" ng-disabled="disabled">{{(isPasswordSent)? 'Resend': 'Send'}} Password <i class="fa fa-spinner fa-spin" ng-if="loader"></i></button>-->
                           <button type="submit" class="btn btn-primary btn-block" name="resend" ng-click="resendPassword(form)" ng-disabled="disabled">Request a new password <i class="fa fa-spinner fa-spin" ng-if="loader"></i></button>
                       
                        </div>
                         <center><p><a href="/#/signIn">Oh, you remember now? Log in then,</a></p></center>
                    </fieldset>
                </form>
                
                   
                    
                   
            </div>
        </div>
    </div>
</div>