
	<!--<div class="page page-dashboard">
	<div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Change Password"></div>
				
			</div>
		</div>

		<button class="btn_green pull-right" ng-click="changePasswordFirstLogin(newPassword, confirmPassword)" translate="Update" ></button>
		<div class="page-in-below-head clearfix" >
			<div class="row ">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						
						<div class="panel-body">
							<form name="form" >
								
								<hr>	
								<div class="row">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{ 'has-error' : form.newPassword.$invalid && form.newPassword.$dirty }">
						             <label translate="New Password"></label>
						              <input type="text" name="newPassword" class="form-control input100" ng-model="newPassword" placeholder="{{'New Password'|translate}}" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{6,}$/" ng-minlength="8" required>
									
									<span class="text-danger" ng-show="form.newPassword.$invalid && form.newPassword.$dirty">
                                        <span ng-show="form.newPassword.$error.required && form.newPassword.$dirty" translate="New Password is required."></span>
										<span ng-show="form.newPassword.$error.pattern" translate="Password must contain at least 8 characters(letter, number, special character)"></span>
										<span ng-show="form.newPassword.$error.minlength" translate="Password must be atleast 8 characters"></span>
									</span></div>
									</div>
								</div>
										<hr>
										<div class="row">
											<div class="col-sm-12">
										<div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
						             <label translate="Confirm New Password"> </label>
						             <input type="text" name="password" class="form-control input100" ng-model="confirmPassword" placeholder="{{'Confirm Password'|translate}}" ng-minlength="3" ng-maxlength="15" required>
									 <span class="text-danger" ng-show="form.password.$invalid && form.password.$dirty">
                                        <span ng-show="form.password.$error.required && form.password.$dirty" translate="Confirm Password is required."></span>
										
									</span>
										</div>
										</div>
								</div>	
								
									
									</form>
								</div>
								</div>	
									<hr>
						</div>
					</div>
				</div>
			</div>
		</div>-->



<div class="page-signin">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <a href="#/"><img src="../images/logo.png" /></a>
            </section>
        </div>
    </div>

    <div class="signin-body">
        <div class="">
            <div class="form-container">                
				<form name="form" >
                	<h3 class="text-center">Set Password</h3>
                    <fieldset>
                        <div class="form-group" ng-class="{ 'has-error' : form.newPassword1.$invalid && form.newPassword1.$dirty }">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <input type="text" name="newPassword1" class="form-control input100" ng-model="newPassword" placeholder="{{'New Password'|translate}}" ng-minlength="8" required>
									
									<span class="text-danger" ng-show="form.newPassword1.$invalid && form.newPassword1.$dirty">
                                        <span ng-show="form.newPassword1.$error.required && form.newPassword1.$dirty" translate="New Password is required."></span>
										<span ng-show="form.newPassword1.$error.minlength" translate="Password must be atleast 8 characters"></span>
									</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
						              <div class="input-group input-group-lg">
										  <span class="input-group-addon">
                                   <span class="glyphicon glyphicon-lock"></span>
                                </span>
						             <input type="text" name="password" class="form-control input100" ng-model="confirmPassword" placeholder="{{'Confirm Password'|translate}}" ng-minlength="3" ng-maxlength="15" required>
									 <span class="text-danger" ng-show="form.password.$invalid && form.password.$dirty">
                                        <span ng-show="form.password.$error.required && form.password.$dirty" translate="Confirm Password is required."></span>
										
									</span>
										</div>
                        </div>
                        </div>
                        <div class="form-group">
							<button class="btn btn-primary btn-lg btn-block" ng-click="changePasswordFirstLogin(newPassword, confirmPassword)" translate="Update" ></button>
                        </div>
                    </fieldset>
                </form>
                         
            </div>
        </div>
    </div>
</div>

		
												
				                         
			                           
							
										
									
								
									
									
									
								
								
						
								
										
											
								
								
								
								
								
							