<div class="modal-content" ng-init="getUserByToken();getuserbyId();">
	<div class="modal-header">
		<div class="modal-header">
			<button class="close" type="button" ng-click="cancel()">X
			
			</button>
			
								
		</div>
	</div>
	
	
	<div class="page page-dashboard">
	<div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Change Password"></div>
				
			</div>
		</div>

		<button class="btn_green pull-right" ng-click="resetPassword(UserProfile,newPassword,confirmPassword,oldPassword,UserProfile.password)" translate="Update" ng-disabled="form.$invalid"></button>
		<div class="page-in-below-head clearfix" >
			<div class="row ">
				<div class="col-sm-12">
					
					<div class="panel panel-default">
						
						<div class="panel-body">
							<form name="form" >
								
								<div class="row" ng-hide="hide">
									<div class="form-group" ng-class="{ 'has-error' : form.ab.$invalid && form.a.$dirty }">	
						         <input name="ab"type="text" ng-model="UserProfile.password">  
								 <span class="text-danger" ng-show="form.ab.$invalid && form.ab.$dirty">
                                        <span ng-show="form.ab.$error.required && form.ab.$dirty" translate="Patient Id is required."></span>
									</span> 
								</div>
								</div>
							
								<div class="row">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{ 'has-error' : form.oldPassword.$invalid && form.oldPassword.$dirty }">
						             <label translate="Old Password"></label>
						          <input type="text" name="oldPassword" class="form-control input100" ng-model="oldPassword" placeholder="{{'old password'|translate}}" required >
									<span class="text-danger" ng-show="form.oldPassword.$invalid && form.oldPassword.$dirty">
                                        <span ng-show="form.oldPassword.$error.required && form.oldPassword.$dirty" translate="old password is required."></span>
										
									</span>
									</div> 
									</div>
								</div>
								<hr>	
								<div class="row">
									<div class="col-sm-12">
									<div class="form-group" ng-class="{ 'has-error' : form.newPassword.$invalid && form.newPassword.$dirty }">
						             <label translate="New Password"></label>
						              <input type="text" name="newPassword" class="form-control input100" ng-model="newPassword" placeholder="{{'New Password'|translate}}" ng-minlength="8" required>
									
									<span class="text-danger" ng-show="form.newPassword.$invalid && form.newPassword.$dirty">
                                        <span ng-show="form.newPassword.$error.required && form.newPassword.$dirty" translate="New Password is required."></span>
										<span ng-show="form.newPassword.$error.minlength" translate="Password must be atleast 8 characters"></span>
									</span></div>
									</div>
								</div>
										<hr>
										<div class="row">
											<div class="col-sm-12">
										<div class="form-group" ng-class="{ 'has-error' : form.password.$invalid && form.password.$dirty }">
						             <label translate="Confirm New Password"> </label>
						             <input type="text" name="password" class="form-control input100" ng-model="confirmPassword" placeholder="{{'Confirm Password'|translate}}" ng-minlength="3" ng-maxlength="15" required>
									 <span class="text-danger" ng-show="form.password.$invalid && form.password.$dirty">
                                        <span ng-show="form.password.$error.required && form.password.$dirty" translate="Confirm Password is required."></span>
										<!--<span ng-show="form.password.$error.pattern" translate="Password must contain at least 15 characters,including: letters, numbers"></span>
										<span ng-show="form.password.$error.maxlength" translate="Too long. Use 15 characters or less"></span>-->
									</span>
										</div>
										</div>
								</div>	
								
									
									</form>
								</div>
								</div>	
									<hr>

						
								
								
								
						</div>
					</div>
				</div>
			</div>
		</div>
</div>
		
												
				                         
			                           
							
										
									
								
									
									
									
								
								
						
								
										
											
								
								
								
								
								
							