 <div class="page page-dashboard" ng-init="getStatus()">
<div class="left-menu-top clearfix"> <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
      </div>
      <div id="navbar" class="navbar-collapse collapse pull-left"> 
        <!-- <ul class="nav navbar-nav navbar-right"> -->
         <ul class="nav navbar-nav">
                <li ng-if="(permissionsArray.indexOf('familyDoctors') != -1)"><a ui-sref="familyDoctors" ui-sref-active="active" translate="FamilyDoctors"></a></li>
                <li  ng-if="(permissionsArray.indexOf('survey') != -1)"><a ui-sref="survey" ui-sref-active="active" translate="Survey"></a></li>
               <li ng-if="(permissionsArray.indexOf('statuses') != -1)"><a ui-sref="statuses" ui-sref-active="active" translate="Statuses"></a></li>
                <li ng-if="(permissionsArray.indexOf('index') != -1)"><a ui-sref="index" ui-sref-active="active" translate="Indexes"></a></li>
                <li ng-if="(permissionsArray.indexOf('Diseases') != -1)"><a ui-sref="Diseases" ui-sref-active="active" translate="Main Complaint"></a></li>
                <li ng-if="(permissionsArray.indexOf('users') != -1)"><a ui-sref="users" ui-sref-active="active" translate="Users"></a></li>
                <li ng-if="(permissionsArray.indexOf('roles') != -1)"><a ui-sref="roles" ui-sref-active="active" translate="Roles & Permission"></a></li>
                <li ng-if="(permissionsArray.indexOf('kupatCholim_list') != -1)"><a ui-sref="kupatCholim_list" ui-sref-active="active" translate="Kupat Cholim"></a></li>
				<li ng-if="(permissionsArray.indexOf('ipSettings') != -1)"><a ui-sref-active="active" ui-sref="ipSettings" translate="Settings"></a></li>

            </ul>
      </div>
    </div>
  <div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Status List"></div>
			</div>
	<!--
			<ul class="breadcrumb page-breadcrumb">
				<li><a href="#">Home</a></li>
				<span> &nbsp; <i class="fa fa-angle-right"></i> &nbsp;</span>
				<li class="hidden"><a href="#">Dashboard</a></li>
				<li class="active"><a href="#">Dashboard</a></li>
			</ul>
	-->
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix">
			
			<div class="row ">
				<div class="col-sm-12">
					<div class="panel panel-default">  
							<div class="panel-heading" translate="Status List"></div> 
							<div class="panel-body">
									<div class="table-responsive">
											<table class="table table-bordered table-striped table-responsive">
													<tbody>
															<tr>
																<th translate="Status"></th>
																<th translate="Color"></th>
																<th translate="Action"></th>
															</tr> 
															<tr ng-repeat="Status in statuslist">

																<td>{{Status.name}}
																	
																</td>
																<td >
																	<p class="status" ng-model="Status.colour" style="background-color:{{Status.colour}}" /></p> 
																</td>
																<td><i class="fa fa-pencil-square-o fa-1 fa-lg" ui-sref="status_edit({id:Status._id})"></i>
																
															</tr>
															
															
													</tbody>
											</table>     
									</div>  
							</div> 
					</div> 
				</div>     
			</div>
		</div>
 </div>    
</div>

<style>
	.status{

	background-color: "{{Status.colour}}";
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 20px;
    width: 20px;
	}
	</style>