<style type="text/css">
.input-group .search_box button	{
    min-width: 40px !important;
    padding: 12px;
	
}
.input-group .search_box { position: absolute; }
.input-group .search_box button{     margin: 0;
    margin-top: -1px; }


</style>

<div class="page page-dashboard" ng-init="getkupatCholim()">
	<div class="left-menu-top clearfix">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> </a>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				aria-controls="navbar"> <span class="sr-only">Toggle navigation</span> Menu </button>
		</div>
		<div id="navbar" class="navbar-collapse collapse pull-left">
			   <ul class="nav navbar-nav">
                <li ng-if="(permissionsArray.indexOf('familyDoctors') != -1)"><a ui-sref="familyDoctors" ui-sref-active="active" translate="FamilyDoctors"></a></li>
                <li  ng-if="(permissionsArray.indexOf('survey') != -1)"><a ui-sref="survey" ui-sref-active="active" translate="Survey"></a></li>
                <li ng-if="(permissionsArray.indexOf('statuses') != -1)"><a ui-sref="statuses" ui-sref-active="active" translate="Statuses"></a></li>
                <li ng-if="(permissionsArray.indexOf('index') != -1)"><a ui-sref="index" ui-sref-active="active" translate="Indexes"></a></li>
                <li ng-if="(permissionsArray.indexOf('Diseases') != -1)"><a ui-sref="Diseases" ui-sref-active="active" translate="Main Complaint"></a></li>
                <li ng-if="(permissionsArray.indexOf('users') != -1)"><a ui-sref="users" ui-sref-active="active" translate="Users"></a></li>
                <li ng-if="(permissionsArray.indexOf('roles') != -1)"><a ui-sref="roles" ui-sref-active="active" translate="Roles & Permission"></a></li>
                <li ng-if="(permissionsArray.indexOf('kupatCholim_list') != -1)"><a ui-sref="kupatCholim_list" ui-sref-active="active" translate="Kupat Cholim"></a></li>
				<li ng-if="(permissionsArray.indexOf('ipSettings') != -1)"><a ui-sref-active="active" ui-sref="ipSettings" translate="Settings"></a></li>
            </ul>
		</div>
	</div>
    <div class="page-inner">
		<div class="page-title-breadcrumb" id="title-breadcrumb-option-demo">
			<div class="page-header">
				<div class="page-title" translate="Kupat Cholim List"></div>
			</div>
		</div>
		<div class="clearfix"></div>
		<div class="page-in-below-head clearfix">
			<div class="row ">
				<div class="col-sm-6 col-xs-6">
					
					<form name="searchForm" novalidate class="famildr_sear">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="{{'Search Term'|translate}}" name="searchTerm" ng-model="searchTextField"
								required />
							<span class="search_box">
								<button type="button" ng-click="searching()" class="glyphicon glyphicon-search btn_green" type="submit">
							
							</button>
							</span>
							
						</div>
					</form>
				</div>
				<div class="col-sm-6 col-xs-6">
					<button class="btn_green pull-right" ui-sref="addkupatCholim" translate="Add Kupat Cholim"></button>
				</div>
			</div>
			<div class="row ">
				<div class="col-sm-12">
					<div class="panel panel-default">
						<div class="panel-heading" translate="Kupat Cholim List"></div>
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-striped table-responsive" ng-table="tableParams" show-filter="isFiltersVisible">
									<tr ng-repeat="kupat in kupatCholimlist" class="ng-table-sort-header">
										<td class="header sortable" title="'Name'| translate" sortable="'name'" filter="{title:'text'}">{{kupat.name |capitalize}}</td>
										<td class="header sortable" data-title="'Price'| translate" sortable="'price'" filter="{title:'number'}">{{kupat.price }}</td>
										<td class="header sortable" data-title="'Email'| translate" sortable="'email'" filter="{title:'text'}">{{kupat.email}}</td>
										
										 
										 <td data-title="'Action'| translate">
                                                <a href="#/dashboard/kupatCholim_list/editKupatCholim/{{kupat._id}}"><i class="fa fa-pencil-square-o fa-1 fa-lg" aria-hidden="true"></i></a> &nbsp;&nbsp;
                                                <a href="" ng-click="deletekupatCholimbyId(kupat._id)"><i class="fa fa-trash-o fa-1 fa-lg" aria-hidden="true"></i></a>
                                         </td>
									</tr>
									<tr ng-if="tableLoader">
										<td colspan="7" align="center">
											<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
										</td>
									</tr>
									<tr ng-if="kupatCholimlist.length == 0 && !tableLoader">
										<td colspan="7" align="center" translate="No Record Found"></td>
									</tr>
								</table>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>